@{
    ViewBag.Title = "KSL Classified Alerts";
}

<div class="row" style="margin-top:4rem;">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title text-center">KSL Classified Alerts</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <p class="list-group-item-text text-center">
                        Get alerts when products meeting your criteria are posted!
                    </p>
                </div>
                <div class="list-group-item text-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Start Getting Alerts", "Index", "Searches", new { area = "" }, new { @class = "btn btn-success" })
                    }
                    else
                    {
                        @Html.ActionLink("Get Started Now", "Register", "Account", new { area = "" }, new { @class = "btn btn-success" })
                    }
                </div>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>